{% extends "base.html" %}
{% block content %}

<!-- ===== About Section ===== -->
<div class="about-container">

    <div class="about-columns">
        <div class="headshot-column">
            
            <img src="../static/images/me2.jpg" class="headshot" alt="Photo of Zack Andalman">

            <div class="mini-gallery">
                <img src="../static/images/piano.jpg" class="mini-img" alt="Zack playing piano">
                <img src="../static/images/triathlon.jpg" class="mini-img" alt="Zack racing triathlon">
            </div>

        </div>

        <div class="bio-column">
            <p>
                I am a Ph.D. candidate in the Princeton University Department of Astrophysical Sciences and a Department of Energy Computational Sciences Graduate Fellow.
                I use simulations and (semi-)analytics to understand the physics of tidal disruption events (TDEs), where a star is torn apart by the tidal field of a supermassive black hole (SMBH).
                These rare events are unique astrophysical probes of quiescent SMBHs, accretion physics, and the dynamics of the galactic center.
                The Vera C. Rubin Observatory's Legacy Survey of Space and Time (LSST) promises to dramatically increase the observed TDE rate, making this an exciting time for TDE modeling.
            </p>

            <p>
                Outside of research, I am a triathlete and a jazz pianist.
                Feel free to contact me for collaboration or outreach purposes!
            </p>
        </div>
    </div>
</div>

<!-- ===== Academic Journey Section ===== -->
<h2 class="journey-header">My Academic Journey</h2>

<div class="journey-container">
    <div class="journey-columns">
        <div class="journey-map">
            <span class="dot active" id="Evanston" data-title="Evanston, IL"></span>
            <span class="dot" id="New-Haven" data-title="New Haven, CT"></span>
            <span class="dot" id="Santa-Cruz" data-title="Santa Cruz, CA"></span>
            <span class="dot" id="Los-Alamos" data-title="Los Alamos, NM"></span>
            <span class="dot" id="Princeton" data-title="Princeton, NJ"></span>
            <img src="../static/images/journey.png" alt="Map of my academic journey">
        </div>

        <div class="journey-info">
            
            <div class="journey-nav-row">
                <div class="small button" id="previous">‹‹‹</div>

                <div class="current-place-wrapper">
                    <div class="current-place" id="current-place">Evanston, IL</div>
                    <div class="current-date" id="current-date">2015 - 2019</div>
                </div>

                <div class="small button" id="next">›››</div>
            </div>

            <div class="place-info" id="Evanston-info">
                <p>
                    I grew up in Evanston, IL just North of Chicago where I attended Evanston Township High School (ETHS).
                    During my junior and senior years at ETHS, I worked with Sasha Tchekhovskoy (Northwestern University) on disk formation in TDEs using the GRMHD code H-AMR.
                </p>
            </div>

            <div class="place-info hidden" id="New-Haven-info">
            <p>
                I did undergrad at Yale University, where I studied physics.
                During my first two years, I worked in Nir Navon's Ultracold Quantum Matter Lab building a magneto-optical trap to cool Strontium atoms for an optical tweezer array.
                After my second year, I returned to astronomy, continuing my work with Sasha Tchekhovskoy on disk formation in TDEs.
                My work with Sasha resulted in a first-author publication.
                I collaborated with Nick Kaaz on accretion in thin misaligned disks, resulting in a co-author publication.
                During my final year, I worked with Enrico Ramirez-Ruiz and Priya Natarajan for my senior thesis.
                Simultaneously, I was the president of the Yale Undergraduate Aerospace Association, where I led the development of a cosmic ray detector for a CubeSat among other projects.
            </p>
        </div>

        <div class="place-info hidden" id="Santa-Cruz-info">
            <p>
                During the summer after my third year of undergrad, I worked with Enrico Ramirez-Ruiz at the <a href="https://lamat.science.ucsc.edu/">Lamat Institute</a> REU program to develop a semi-analytic model for double-peaked Balmer line emission in TDEs.
                During my final year of undergrad, I continued this work with Priya Natarajan as my senior thesis.
            </p>
        </div>

        <div class="place-info hidden" id="Los-Alamos-info">
            <p>
                During the summer after my first year of graduate school, I worked with Chris Fryer at Los Alamos National Laboratory to develop a model for the thermalization of beta particles in kilonova ejecta.
                This work is still ongoing and we hope to submit the manuscript soon.
            </p>
        </div>

        <div class="place-info hidden" id="Princeton-info">
            <p>
                I am currently a Ph.D. student at Princeton University in the Department of Astrophysical Sciences.
                In my first year, I worked with Romain Teyssier to analyze star formation in massive galaxies at Cosmic Dawn using the hydrodynamics code RAMSES, resulting in a first-author publication.
                I collaborated with <a href="https://james-sunseri.com/">James Sunseri</a> on a follow-up project on SMBH growth, resulting in a co-author publication.
                In my second year, I started working with Eliot Quataert on TDEs for my Ph.D. thesis.
                My first thesis paper is coming soon.
            </p>
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $("#nav-about").addClass("active");
</script>
{% endblock %}
