<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zandalman</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>

    <ul id="navbar">
        <li class='navitem'><a href="/">Home</a></li>
        <li class='navitem'><a href="../about.html">About</a></li>
        <li class='navitem'><a href="../research.html">Research</a></li>
    </ul>

    <div id="header"><p>Zack Andalman: Astrophysicist</p></div>

    <div class="spacer"></div>

    {% block content %}{% endblock %}
    {% block script %}{% endblock %}

    <div class="spacer"></div>

    <div id="footer">
        <a href="mailto: zack.andalman@princeton.edu">zack.andalman@princeton.edu</a>
    </div>

</body>
</html>