{% extends "base.html" %}
{% block content %}

<div id="publications-container">

    <div class="pub-row header">
        <div class="pub-cell year">Year</div>
        <div class="pub-cell authors">Authors</div>
        <div class="pub-cell title">Title</div>
        <div class="pub-cell journal">Journal</div>
        <div class="pub-cell options">Options</div>
    </div>

    {% for pub in publications %}
    <div class="pub-row">
        <div class="pub-cell year">{{ pub.year }}</div>
        <div class="pub-cell authors">{{ pub.authors|safe }}</div>

        <div class="pub-cell title">
            <a href="{{ url_for('render_publication', pub_id=pub.id) }}">{{ pub.title }}</a>
        </div>

        <div class="pub-cell journal">{{ pub.journal }}</div>

        <div class="pub-cell options">
            {% if pub.link %}
            <a href="{{ pub.link }}" target="_blank" title="journal">
                <img src="../static/icons/link.svg" class="icon">
            </a>
            {% endif %}

            {% if pub.arxiv %}
            <a href="{{ pub.arxiv }}" target="_blank" title="arXiv">
                <img src="../static/icons/arxiv.svg" class="icon">
            </a>
            {% endif %}

            {% if pub.pdf %}
            <a href="../static/papers/{{ pub.pdf }}" target="_blank" title="PDF">
                <img src="../static/icons/pdf.svg" class="icon">
            </a>
            {% endif %}

            {% if pub.data %}
            <a href="../static/data/{{ pub.data }}" download title="data">
                <img src="../static/icons/data.svg" class="icon">
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block script %}
    <script>
        $("#nav-publications").addClass("active");
    </script>
{% endblock %}